doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1")
		title 3DBox
	body
		div#WebGLCanvas
		.well.well-sm
			form.form-inline(name="controlsForm" id="controlsForm")
				.form-group
					label.sr-only(for="length") Length
					input.form-control(type="number" id="length" name="boxLength" placeholder="length" value="200")
				.form-group
					label.sr-only(for="width") Width
					input.form-control(type="number" id="width" name="boxWidth" placeholder="width" value="200")
				.form-group
					label.sr-only(for="height") Height
					input.form-control(type="number" id="height" name="boxHeight" placeholder="height" value="200")
				button.btn.btn-success(type="submit") Send request