bg-color = #434343

html
  background #767676

body
  background-color bg-color
  overflow hidden

.well
  position absolute
  width 100%
  bottom 0
  margin-bottom 0

  >#controlsForm
    text-align center
    .form-group
      margin-right 10px